<!DOCTYPE html>
<html>

<head>
    <title>Harita Uygulaması</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">

    <style>
       


        /* Yükleme ekranını ve arkaplanını gizler */
        .loading-hidden {
            display: none;
        }

        /* Yükleme ekranını ve arkaplanını gösterir */
        .loading-visible {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            /* Yarı saydam siyah arkaplan */
            z-index: 1000;
        }

        /* Spinner */
        .spinner {
            border: 5px solid #f3f3f3;
            border-top: 5px solid #3498db;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
            animation: spin 2s linear infinite;
        }

        /* Spinner animasyonu */
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .loading-text {
            color: white;
            font-size: 30px;
            padding: 10px;
            /* margin-bottom: 10px; */
            padding-bottom: 20px;
        }
    </style>


</head>

<body class="dark">

    <div class="container123">
        <div class="map-container">

            <div id="mapid"></div>



            <div class="button-container">
                <button class="map-buttons" id="button-clear-all" onclick="clearAll()">Clear</button>
                <button class="map-buttons" id="button-undo" onclick="undoLast()">Undo</button>


            </div>


        </div>

        <div class="right-menu">


            <div class="left-menu-item-container">
                <div class="left-menu-title">
                    Cities
                </div>

                <div class="radio-group">
                    <div class="radio-option">
                        <label for="option-cities" class="radio-label-select">City </label>

                        <select name="" id="option-cities" class="right-menu-selects"
                            onchange="updateMapToSelectedCity()">
                            <option value="[46.49, -84.35]">Algoma</option>
                            <option value="[43.13, -80.26]">Brant</option>
                            <option value="[44.33, -81.15]">Bruce</option>
                            <option value="[49.06, -81.02]">Cochrane</option>
                            <option value="[44.09, -80.20]">Dufferin</option>
                            <option value="[45.02, -75.62]">Dundas</option>
                            <option value="[44.00, -78.94]">Durham</option>
                            <option value="[42.77, -81.18]">Elgin</option>
                            <option value="[42.10, -82.90]">Essex</option>
                            <option value="[44.44, -76.24]">Frontenac</option>
                            <option value="[45.28, -74.76]">Glengarry</option>
                            <option value="[44.70, -75.52]">Grenville</option>
                            <option value="[44.566, -80.940]">Grey</option>
                            <option value="[42.83, -79.93]">Haldimand</option>
                            <option value="[45.04, -78.51]">Haliburton</option>
                            <option value="[43.53, -79.88]">Halton</option>
                            <option value="[43.25, -79.85]">Hamilton</option>
                            <option value="[44.88, -77.72]">Hastings</option>
                            <option value="[43.73, -81.71]">Huron</option>
                            <option value="[49.76, -94.48]">Kenora</option>
                            <option value="[42.40, -82.20]">Kent</option>
                            <option value="[42.95, -82.30]">Lambton</option>
                            <option value="[45.03, -76.36]">Lanark</option>
                            <option value="[44.45, -75.89]">Leeds</option>
                            <option value="[44.40, -76.90]">Lennox</option>
                            <option value="[45.70, -82.20]">Manitoulin</option>
                            <option value="[42.95, -81.39]">Middlesex</option>
                            <option value="[45.16, -79.22]">Muskoka</option>
                            <option value="[43.11, -79.12]">Niagara North</option>
                            <option value="[42.95, -79.26]">Niagara South</option>
                            <option value="[46.32, -79.46]">Nipissing</option>
                            <option value="[42.83, -80.31]">Norfolk</option>
                            <option value="[44.20, -78.10]">Northumberland</option>
                            <option value="[45.42, -75.69]">Ottawa-Carleton</option>
                            <option value="[43.13, -80.75]">Oxford</option>
                            <option value="[45.34, -79.88]">Parry</option>
                            <option value="[43.68, -79.76]">Peel</option>
                            <option value="[43.37, -81.00]">Perth</option>
                            <option value="[44.30, -78.32]">Peterborough</option>
                            <option value="[45.54, -74.65]">Prescott</option>
                            <option value="[48.58, -83.66]">Prince</option>
                            <option value="[48.62, -93.40]">Rainy</option>
                            <option value="[45.47, -76.68]">Renfrew</option>
                            <option value="[45.26, -75.80]">Russell</option>
                            <option value="[44.73, -79.89]">Simcoe</option>
                            <option value="[45.03, -74.73]">Stormont</option>
                            <option value="[46.49, -80.99]">Sudbury</option>
                            <option value="[48.38, -89.25]">Thunder</option>
                            <option value="[47.51, -79.68]">Timiskaming</option>
                            <option value="[43.65, -79.38]">Toronto</option>
                            <option value="[44.36, -78.74]">Victoria</option>
                            <option value="[43.47, -80.52]">Waterloo</option>
                            <option value="[43.65, -80.31]">Wellington</option>
                            <option value="[43.90, -79.44]">York</option>
                        </select>


                    </div>



                </div>

            </div>


            <div class="left-menu-item-container">
                <div class="left-menu-title">
                    Sale Date
                </div>
                <div class="radio-group">
                    <div class="radio-option">
                        <input type="radio" id="option-30days" name="sale-date-radios" class="radio-button" checked
                            value="30 Days">
                        <label for="option-30days" class="radio-label">30 Days</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="option-3months" name="sale-date-radios" class="radio-button"
                            value="3 Months">
                        <label for="option-3months" class="radio-label">3 Months</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="option-6months" name="sale-date-radios" class="radio-button"
                            value="6 Months">
                        <label for="option-6months" class="radio-label">6 Months</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="option-1year" name="sale-date-radios" class="radio-button"
                            value="1 Year">
                        <label for="option-1year" class="radio-label">1 Year</label>
                    </div>
                </div>


            </div>



            <div class="left-menu-item-container">
                <div class="left-menu-title">
                    Property Type
                </div>
                <div class="radio-group">
                    <div class="radio-option">
                        <input type="radio" id="option-All" name="property-type-radios" class="radio-button" checked
                            value="All">
                        <label for="option-All" class="radio-label">All</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="option-freehold" name="property-type-radios" class="radio-button"
                            value="Freehold">
                        <label for="option-freehold" class="radio-label">Freehold</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="option-condo" name="property-type-radios" class="radio-button"
                            value="Condo">
                        <label for="option-condo" class="radio-label">Condo</label>
                    </div>

                </div>


            </div>



            <div class="left-menu-item-container">
                <div class="left-menu-title">
                    Price Amount
                </div>

                <div class="radio-group">
                    <div class="radio-option">
                        <label for="option-price-from" class="radio-label-select">From</label>

                        <select name="" id="option-price-from" class="right-menu-selects">


                            <option value="$0" selected>$0</option>
                            <option value="$100000">$100000</option>
                            <option value="$200000">$200000</option>
                            <option value="$300000">$300000</option>
                            <option value="$400000">$400000</option>
                            <option value="$500000">$500000</option>
                            <option value="$600000">$600000</option>
                            <option value="$700000">$700000</option>
                            <option value="$800000">$800000</option>
                            <option value="$900000">$900000</option>
                            <option value="$1000000">$1000000</option>
                            <option value="$1100000">$1100000</option>
                            <option value="$1200000">$1200000</option>
                            <option value="$1300000">$1300000</option>
                            <option value="$1400000">$1400000</option>
                            <option value="$1500000">$1500000</option>
                            <option value="$1600000">$1600000</option>
                            <option value="$1700000">$1700000</option>
                            <option value="$1800000">$1800000</option>
                            <option value="$1900000">$1900000</option>
                            <option value="$2000000">$2000000</option>
                            <option value="$2100000">$2100000</option>
                            <option value="$2200000">$2200000</option>
                            <option value="$2300000">$2300000</option>
                            <option value="$2400000">$2400000</option>
                            <option value="$2500000">$2500000+</option>



                        </select>
                    </div>
                    <div class="radio-option">
                        <label for="option-price-to" class="radio-label-select">To</label>

                        <select name="" id="option-price-to" class="right-menu-selects">

                            <option value="$0">$0</option>
                            <option value="$100000">$100000</option>
                            <option value="$200000">$200000</option>
                            <option value="$300000">$300000</option>
                            <option value="$400000">$400000</option>
                            <option value="$500000">$500000</option>
                            <option value="$600000">$600000</option>
                            <option value="$700000">$700000</option>
                            <option value="$800000">$800000</option>
                            <option value="$900000">$900000</option>
                            <option value="$1000000">$1000000</option>
                            <option value="$1100000">$1100000</option>
                            <option value="$1200000">$1200000</option>
                            <option value="$1300000">$1300000</option>
                            <option value="$1400000">$1400000</option>
                            <option value="$1500000">$1500000</option>
                            <option value="$1600000">$1600000</option>
                            <option value="$1700000">$1700000</option>
                            <option value="$1800000">$1800000</option>
                            <option value="$1900000">$1900000</option>
                            <option value="$2000000">$2000000</option>
                            <option value="$2100000">$2100000</option>
                            <option value="$2200000">$2200000</option>
                            <option value="$2300000">$2300000</option>
                            <option value="$2400000">$2400000</option>
                            <option value="$2500000" selected>$2500000+</option>

                        </select>

                    </div>


                </div>

            </div>


            <div class="left-menu-item-container">
                <div class="left-menu-title">
                    Lot Size (sq. ft.)
                </div>

                <div class="radio-group">
                    <div class="radio-option">
                        <label for="option-lot-size-from" class="radio-label-select">From</label>

                        <select name="" id="option-lot-size-from" class="right-menu-selects">

                            <option value="0" selected>0</option>
                            <option value="1,000 sqft">1,000 sqft</option>
                            <option value="2,000 sqft">2,000 sqft</option>
                            <option value="5,000 sqft">5,000 sqft</option>
                            <option value="10,000 sqft">10,000 sqft</option>
                            <option value=".25 acre">.25 acre</option>
                            <option value=".5 acres">.5 acres</option>
                            <option value="1 acres">1 acres</option>
                            <option value="2 acres">2 acres</option>
                            <option value="3 acres">3 acres</option>
                            <option value="5 acres">5 acres</option>
                            <option value="10 acres">10 acres</option>
                            <option value="25 acres">25 acres</option>
                            <option value="100 acres">100 acres</option>
                            <option value="100+ acres">100+ acres</option>



                        </select>
                    </div>
                    <div class="radio-option">
                        <label for="option-lot-size-to" class="radio-label-select">To</label>

                        <select name="" id="option-lot-size-to" class="right-menu-selects">

                            <option value="0">0</option>
                            <option value="1,000 sqft">1,000 sqft</option>
                            <option value="2,000 sqft">2,000 sqft</option>
                            <option value="5,000 sqft">5,000 sqft</option>
                            <option value="10,000 sqft">10,000 sqft</option>
                            <option value=".25 acre">.25 acre</option>
                            <option value=".5 acres">.5 acres</option>
                            <option value="1 acres">1 acres</option>
                            <option value="2 acres">2 acres</option>
                            <option value="3 acres">3 acres</option>
                            <option value="5 acres">5 acres</option>
                            <option value="10 acres">10 acres</option>
                            <option value="25 acres">25 acres</option>
                            <option value="100 acres">100 acres</option>
                            <option value="100+ acres" selected>100+ acres</option>


                        </select>

                    </div>


                </div>

            </div>


            <div class="left-menu-buttons">
                <button class="map-buttons" id="button-summit-points" onclick="sendCoordinates()">Find
                    Comparables</button>
            </div>



        </div>
    </div>


    <!-- Yükleme ekranı açma butonu -->
    <!-- <button id="loadingBtn">Yükleme Ekranını Göster</button> -->

    <!-- Yükleme Ekranı -->
    <div id="loadingScreen" class="loading-hidden">
        <div class="spinner"></div>
        <p class="loading-text">Loading...</p>
    </div>

  


    <script src="{{ url_for('static',filename='js/index.js') }}"></script>


</body>

</html>-select